Repository project-koku/koku-ui, pull requests merged in 2020-07, with the labels that each got.

#1590 fix(costmodel): change buttons order in update cost model modal
  src/pages/costModels/costModelsDetails/components/updateCostModel.tsx
Labels: bug, cost model

#1592 fix(costmodels): use compact pagination + remove view opt from kebab
  src/pages/costModels/costModelsDetails/costModelsDetails.tsx
  src/pages/costModels/costModelsDetails/costModelsTable.tsx
Labels: bug, cost model

#1593 fix(costmodels): update confirmation dialog's cancel and warning icon
  src/pages/costModels/costModelsDetails/components/dialog.test.tsx
  src/pages/costModels/costModelsDetails/components/dialog.tsx
  src/pages/costModels/createCostModelWizard/index.tsx
Labels: cost model, fit & finish

#1596 Toolbar filter support for AWS organizational units
  src/api/queries/query.ts
  src/components/state/emptyFilterState/emptyFilterState.tsx
  src/locales/en.json
  src/pages/details/awsBreakdown/awsBreakdown.tsx
  src/pages/details/awsDetails/awsDetails.tsx
  src/pages/details/awsDetails/detailsTable.tsx
  src/pages/details/awsDetails/detailsToolbar.tsx
  src/pages/details/azureDetails/azureDetails.tsx
  src/pages/details/azureDetails/detailsTable.tsx
  src/pages/details/azureDetails/detailsToolbar.tsx
  src/pages/details/components/actions/actions.tsx
  src/pages/details/components/costOverview/costOverviewBase.tsx
  src/pages/details/components/dataToolbar/dataToolbar.tsx
  src/pages/details/components/export/exportModal.tsx
  src/pages/details/components/groupBy/groupBy.tsx
  src/pages/details/components/groupBy/groupByTag.tsx
  src/pages/details/components/historicalData/historicalDataCostChart.tsx
  src/pages/details/components/historicalData/historicalDataTrendChart.tsx
  src/pages/details/components/historicalData/historicalDataUsageChart.tsx
  src/pages/details/components/summary/summaryCard.tsx
  src/pages/details/components/summary/summaryModalView.tsx
  src/pages/details/components/usageChart/usageChart.tsx
  src/pages/details/components/utils/groupBy.tsx
  src/pages/details/ocpDetails/detailsTable.tsx
  src/pages/details/ocpDetails/detailsToolbar.tsx
  src/pages/details/ocpDetails/ocpDetails.tsx
  src/store/costOverview/awsCostOverview/awsCostOverviewWidgets.ts
  src/store/costOverview/azureCostOverview/azureCostOverviewWidgets.ts
  src/utils/computedReport/getItemLabel.ts
Labels: DO NOT MERGE

#1599 fix(costmodels): update cost model details header title size + padding
  src/pages/costModels/costModel/header.tsx
  src/pages/costModels/costModelsDetails/costModelsDetails.styles.ts
Labels: bug, cost model

#1600 fix(costmodels): remove padding, add pagintn footer, delete color black
  src/pages/costModels/components/priceListToolbar.styles.ts
  src/pages/costModels/components/priceListToolbar.tsx
  src/pages/costModels/costModel/costModelInfo.styles.ts
  src/pages/costModels/costModelsDetails/components/priceListTable.tsx
Labels: bug, cost model

#1602 fix(costmodels): remove name from title in the cost model edit dialog
  src/locales/en.json
  src/pages/costModels/costModelsDetails/components/updateCostModel.tsx
Labels: bug, cost model

#1609 fix(costmodel): markup card fills the entire screen
  src/pages/costModels/costModelsDetails/components/markup.styles.ts
  src/pages/costModels/costModelsDetails/components/markup.tsx
Labels: cost model, fit & finish

#1611 fix(costmodels): Fix pagination settings in the sources tab
  src/pages/costModels/costModelsDetails/components/table.tsx
Labels: bug, cost model

#1612 fix(costmodels): fix redirect issue on cost model update
  src/store/costModels/actions.ts
Labels: bug, cost model

#1616 fix(costmodels): update learn more url to 4.4
  src/pages/costModels/createCostModelWizard/generalInformation.tsx
Labels: bug, cost model

#1621 fix(costmodels): assign-sources/pricelist fit & finish
  src/locales/en.json
  src/pages/costModels/costModel/header.tsx
  src/pages/costModels/costModelsDetails/addSourceStep.tsx
  src/pages/costModels/costModelsDetails/addSourceWizard.tsx
  src/pages/costModels/costModelsDetails/components/priceListTable.tsx
  src/pages/costModels/costModelsDetails/components/table.tsx
  src/pages/costModels/costModelsDetails/components/updateRateModel.styles.ts
  src/pages/costModels/costModelsDetails/components/updateRateModel.tsx
  src/pages/costModels/costModelsDetails/costModelsTable.tsx
Labels: cost model, fit & finish
