Repository project-koku/koku-ui, pull requests merged in 2020-05, with the labels that each got.

#1554 fix(costmodels): disable assigning assigned source to cost model
  src/locales/en.json
  src/pages/costModels/costModelsDetails/addSourceStep.tsx
  src/pages/costModels/costModelsDetails/addSourceWizard.tsx
  src/pages/costModels/createCostModelWizard/table.tsx
Labels: cost model

#1555 PatternFly milestone update
  koku-ui-manifest
  package.json
  yarn.lock
Labels: DO NOT MERGE

#1556 fix(costmodel): make it easy to track unassigned sources in table
  src/pages/costModels/costModelsDetails/addSourceStep.tsx
  src/pages/costModels/createCostModelWizard/table.tsx
Labels: cost model, fit & finish

#1557 fix(costmodels): update the assign sources step description
  src/locales/en.json
Labels: cost model

#1562 feat(costmodels): Allow routing to cost model info page
  src/api/costModels.ts
  src/locales/en.json
  src/pages/costModels/costModel/costModelInfo.styles.ts
  src/pages/costModels/costModel/header.tsx
  src/pages/costModels/costModel/index.tsx
  src/pages/costModels/costModelsDetails/components/updateCostModel.tsx
  src/pages/costModels/costModelsDetails/costModelInfo/index.tsx
  src/pages/costModels/costModelsDetails/costModelsDetails.tsx
  src/pages/costModels/costModelsDetails/costModelsTable.tsx
  src/routes.tsx
  src/store/costModels/actions.ts
Labels: cost model, enhancement

#1564 Added clusters widget for Ocp group_by project
  src/locales/en.json
  src/pages/details/awsDetails/detailsTable.tsx
  src/pages/details/azureDetails/detailsTable.tsx
  src/pages/details/components/cluster/cluster.styles.ts
  src/pages/details/components/cluster/cluster.tsx
  src/pages/details/components/cluster/clusterModal.styles.ts
  src/pages/details/components/cluster/clusterModal.tsx
  src/pages/details/components/cluster/clusterView.tsx
  src/pages/details/components/costOverview/costOverviewBase.tsx
  src/pages/details/components/usageChart/usageChart.tsx
  src/pages/details/ocpDetails/detailsTable.tsx
  src/store/costOverview/common/costOverviewCommon.ts
  src/store/costOverview/ocpCostOverview/ocpCostOverview.test.ts
  src/store/costOverview/ocpCostOverview/ocpCostOverviewReducer.ts
  src/store/costOverview/ocpCostOverview/ocpCostOverviewWidgets.ts
Labels: DO NOT MERGE
